{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!--Cargamos el CSS, el archivo style.css.-->
    <link rel="stylesheet" href="{% static 'css/panel_cliente.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.min.css"
    />
    <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet" />
    <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet" />
    <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/autofill/2.7.0/css/autoFill.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.bootstrap5.min.css">
    
    <title>Bootstrap demo</title>
  </head>
  <!---->
  <body style="font-family: Verdana; color: #4171f5">
    <header>
        <!--Acá debe ir el contenido de nuestras paginas web.-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand active" style="color: blueviolet" href="#"
              >PASTELERÍA JULIE</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'logout' %}"
                    ><i class="fa-sharp fa-solid fa-right-from-bracket"></i></a
                  >
                </li>
                <!--Cerramos el la condicional if-->
              </ul>
            </div>
          </div>
        </nav>
        <!---->
      </header>
    <div class="alert alert-secondary" role="alert" style="height: 255px;">
        <div class="container-xl text-center mt-5">
            <h1><i class="fa-regular fa-user"></i> Mi Cuenta</h1>
        </div>
        {% if user.is_authenticated %}
          <h3 class="text-center mt-5" style="color: rgb(0, 255, 42);"><ins>Bienvenid@ {{nombre_apellido}}</ins></h3>
        {% endif %}
    </div>
    <div class="container-xl mt-3 mb-3">
        <h1 class="text-center">Tu Panel</h1>
        <button type="button" onclick="carrito_cliente_compra(this)" class="btn" style="border-color: rgb(255, 0, 221); background: #4171f5;"><i class="fa-solid fa-bag-shopping fa-bounce"></i> Mi Carrito
          <input type="number" id="total_producto_cliente" name="total_producto_cliente" readonly style="width: 25%; border-radius: 25%;">
        </button>
    </div>
    <div class="container-xl">
        <div class="row mt-5">
            <div class="col-sm-4 text-center">
                <div class="card text-bg-secondary mb-3 opcion_panel_cliente" style="max-width: 18rem;">
                    <div class="card-header">Datos Personales</div>
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-users-gear fa-beat-fade"></i></h5>
                        <button type="button" onclick="editar_cliente(this)" class="btn btn-secondary" style="border-color: aqua;">Actualizar datos personales</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="card text-bg-success mb-3 opcion_panel_cliente" style="max-width: 18rem;">
                    <div class="card-header">Compras Realizadas</div>
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-barcode fa-bounce"></i></h5>
                        <button type="button" onclick="cliente_compra(this)" class="btn btn-secondary" style="border-color: aqua;">Todas mis Compras</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="card text-bg-warning mb-3 opcion_panel_cliente" style="max-width: 18rem;">
                    <div class="card-header">Ofertas</div>
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-tags fa-beat-fade"></i></h5>
                        <button type="button" onclick="oferta_panel_cliente_descuento(this)" class="btn btn-secondary" style="border-color: aqua;">Verifica si tienes Ofertas</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
              <div class="card mb-3 opcion_panel_cliente" style="max-width: 18rem; background: #f88def;">
                  <div class="card-header">Productos</div>
                  <div class="card-body">
                      <h5 class="card-title"><i class="fa-solid fa-cake-candles fa-beat-fade"></i></h5>
                      <button type="button" onclick="listar_producto_panel_cliente(this)" class="btn btn-secondary" style="border-color: aqua;">Lista de Productos</button>
                  </div>
              </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="card mb-3 opcion_panel_cliente" style="max-width: 18rem; background: #e78311;">
                <div class="card-header">Compras Débito</div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-credit-card fa-beat-fade"></i></h5>
                    <button type="button" onclick="compra_debito_usuario_cliente_panel(this)" class="btn btn-secondary" style="border-color: aqua;">Débito</button>
                </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="card mb-3 opcion_panel_cliente" style="max-width: 18rem; background: #5478ec;">
                <div class="card-header">Compras Crédito</div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-brands fa-cc-mastercard fa-beat-fade"></i></h5>
                    <button type="button" onclick="compra_credito_usuario_cliente_panel(this)" class="btn btn-secondary" style="border-color: aqua;">Crédito</button>
                </div>
            </div>
          </div>
        </div>
    </div>
    <!--Modal para descuentos del Usuario tipo Cliente.-->
    <div class="modal fade" id="editar_cliente_usuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Mis Datos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                  <div class="table-responsive">
                    <table id="table_cliente_datos_edit" class="display nowrap" style="width:100%">
                        
                        
                    </table>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    <!---->
    <!--Editandos los datos del cliente FORM.-->
    <!--Modal para editar datos del Usuario tipo Cliente.-->
    <div class="modal fade" id="modal_editar_cliente_usuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          </div>
          <div class="modal-body">
              <div class="container">
                <form action="" id="editar_registro_panel_cliente">
                  <div class="input-group mb-3 mt-1">
                    <input type="hidden" id="id_cliente" name="id_cliente">
                    <span class="input-group-text">Nombre: </span>
                    <input type="text" class="form-control" id="edit_register_nombre_cliente" name="edit_register_nombre_cliente" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-color: rgb(196, 69, 235)">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Ap. Paterno: </span>
                    <input type="text" class="form-control" id="edit_register_ap_paterno_cliente" name="edit_register_ap_paterno_cliente" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-color: rgb(196, 69, 235)">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" >Ap. Materno: </span>
                    <input type="text" class="form-control" id="edit_register_ap_materno_cliente" name="edit_register_ap_materno_cliente" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-color: rgb(196, 69, 235)">
                  </div>
                  <div class="input-group mb-3">
                    <select class="form-control" name="region" style="border-color: rgb(196, 69, 235)" id="region" onchange="buscar_ciudad(this)">
                      <option data-id="0" data-region = "null" value="0" selected="selected">Regiones</option>
                      <option id="region_15" data-region ="Arica y Parinacota" value="15">Arica y Parinacota</option>
                      <option id="region_1" data-region ="Tarapacá" value="1">Tarapacá</option>
                      <option id="region_2" data-region ="Antofagasta" value="2">Antofagasta</option>
                      <option id="region_3" data-region ="Atacama" value="3">Atacama</option>
                      <option id="region_4" data-region ="Coquimbo" value="4">Coquimbo</option>
                      <option id="region_5" data-region ="Valparaiso" value="5">Valparaiso</option>
                      <option id="region_13" data-region ="Metropolitana" value="13">Metropolitana</option>
                      <option id="region_6" data-region ="O'Higgins" value="6">O'Higgins</option>
                      <option id="region_7" data-region ="Maule" value="7">Maule</option>
                      <option id="region_16" data-region ="Ñuble" value="16">Ñuble</option>
                      <option id="region_8" data-region ="Bio - Bio" value="8">Bio - Bio</option>
                      <option id="region_9" data-region ="Araucania" value="9">Araucania</option>
                      <option id="region_14" data-region ="Los Rios" value="14">Los Rios</option>
                      <option id="region_10" data-region ="Los Lagos" value="10">Los Lagos</option>
                      <option id="region_11" data-region ="Aisen" value="11">Aisen</option>
                      <option id="region_12" data-region ="Magallanes Y Antártica" value="12">Magallanes Y Antartica</option>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <select class="form-control" style="border-color: rgb(196, 69, 235)" name="comuna" id="comuna">
                      <option value="0">Comunas por Region</option>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" >Dirección: </span>
                    <input type="text" class="form-control" id="edit_register_direccion_cliente" name="edit_register_direccion_cliente" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"style="border-color: rgb(196, 69, 235)">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" >Teléfono: </span>
                    <input type="number" class="form-control" id="edit_register_telefono" name="edit_register_telefono" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"style="border-color: rgb(196, 69, 235)">
                  </div>
                  <label for="">Lugar de Entrega: </label>
                  <div class="btn-group mb-1" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="edit_register_tipo_propiedad" id="edit_register_casa_cliente" value="Casa" autocomplete="off">
                    <label class="btn btn-outline-primary" for="edit_register_casa_cliente">Casa</label>
                  
                    <input type="radio" class="btn-check" name="edit_register_tipo_propiedad" id="edit_register_departamento_cliente" value="Departamento" autocomplete="off">
                    <label class="btn btn-outline-primary" for="edit_register_departamento_cliente">Departamento</label>
                  
                    <input type="radio" class="btn-check" name="edit_register_tipo_propiedad" id="edit_register_condominio_cliente" value="Condominio" autocomplete="off">
                    <label class="btn btn-outline-primary" for="edit_register_condominio_cliente">Condominio</label>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="register_email_cliente">E-Mail: </span>
                    <input type="text" class="form-control" id="edit_register_email_cliente" name="edit_register_email_cliente" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-color: rgb(196, 69, 235)">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Nombre Usuario: </span>
                    <input type="text" class="form-control" id="edit_register_name_user" name="edit_register_name_user" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"style="border-color: rgb(196, 69, 235)">
                  </div>
                  <div class="alert alert-warning" role="alert">
                    <div class="input-group mb-3">
                      <span class="input-group-text">Password:1 </span>
                      <input type="password" class="form-control" id="edit_password_1" name="edit_password_1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"style="border-color: rgb(196, 69, 235)">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text"> Vuelva a Ingresar Password </span>
                      <input type="password" class="form-control" id="edit_password_2" name="edit_password_2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"style="border-color: rgb(196, 69, 235)">
                    </div>
                    La password debe tener almenos 8 carácteres, contener números y letras de diferentes expresiones.
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" onclick="enviar_form_editar_cliente(this)" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </form>
      </div>
    </div>
    <!-- Fin editando datos cliente FORM.-->
    <!--Modal para mostrar las compras realizada por el Usuario tipo Cliente.-->
    <div class="modal fade" id="compra_cliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Compras Realizadas</h1>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="table-responsive">
                  <table id="table_compra_cliente_panel" class="display nowrap" style="width:100%">
                      
                      
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
    <!---->
    <!--Modal para editar datos del Usuario tipo Cliente.-->
    <div class="modal fade" id="modal_descuento_oferta_cliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Descuentos Disponibles</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="table-responsive">
                  <table id="table_descuento_oferta_cliente" class="display nowrap" style="width:100%">
                      
                      
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    <!--modal Listar los productos desde el panel de clientes.-->
    <div class="modal fade" id="listar_productos_cliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
          <div class="modal-header" style="background: #f32be2;">
            <h1 class="modal-title fs-5" style="color: #180116;">Productos Disponibles</h1>
          </div>
          <div class="modal-body" style="background: #f766eb;">
            <div class="d-flex mb-2" role="search" >
              <input class="form-control me-2" style="border-color: #0906f1;" type="text" id="input_busqueda_producto_panel_cliente" placeholder="Search" aria-label="Search">
              <button class="btn" style="background: #9fa0a3;" onclick="busqueda_panel_cliente(this)" type="button"><i class="fa-solid fa-magnifying-glass" style="color: #043eec;"></i></button>
              <button class="btn" style="background: #f04750;" onclick="cancelar_busqueda_panel_cliente(this)" type="button"><i class="fa-solid fa-ban"></i></button>
            </div>
              {% for producto in productos %}
                <div class="card mb-2 producto_busqueda_panel_cliente_usuario" data-nombre_producto_busqueda_panel_cliente="{{producto.nombreProducto}}">
                  <div class="card-body mt-3">
                    <h5 class="card-title">{{producto.nombreProducto}}</h5>
                    <!--Esta es la manera de recorrer un for con diferentesimágenes. {% static 'imgProductos/' %}{{ img }}-->
                    <div id="img_slide_{{producto.id}}" class="carousel slide" data-bs-touch="false">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{{producto.ruta_img_1}}" class="imm card-img-top" style="border: 2px solid #007bff;" width="200 px" height="200 px" data-im="{{producto.ruta_img_1}},{{producto.ruta_img_2}},{{producto.ruta_img_3}}"
                            id="imagen1_{{producto.id}}" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="{{producto.ruta_img_2}}" class="imm card-img-top" style="border: 2px solid #007bff;" width="200 px" height="200 px" data-im="{{producto.ruta_img_1}},{{producto.ruta_img_2}},{{producto.ruta_img_3}}"
                            id="imagen1_{{producto.id}}" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="{{producto.ruta_img_3}}" class="imm card-img-top" style="border: 2px solid #007bff;" width="200 px" height="200 px" data-im="{{producto.ruta_img_1}},{{producto.ruta_img_2}},{{producto.ruta_img_3}}"
                            id="imagen1_{{producto.id}}" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#img_slide_{{producto.id}}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" style="background-color: #0a0a0a; border-radius: 20px;" aria-hidden="true"></span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#img_slide_{{producto.id}}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" style="background-color: #0a0a0a; border-radius: 20px;" aria-hidden="true"></span>
                      </button>
                    </div>
                    <p class="card-text mt-2">{{producto.detalle_producto}}</p>
                    <p class="mt-2" id="detalle_precio_cliente" name="detalle_precio_cliente">Precio: ${{producto.precioProd}} clp</p>
                    <p class="mt-2" id="detalle_cantidad_cliente" name="detalle_cantidad_cliente">
                      Cant Disponibles: {{producto.cantProdDisponible}}
                    </p>
                    <!-- Button trigger modal -->
                    <button
                      type="button"
                      class="btn btn-primary"
                      id="agregar_carro_cliente"
                      onclick="datos_producto_listar('{{producto.id}}', '{{producto.nombreProducto}}', '{{producto.ruta_img_1}}', '{{producto.precioProd}}', '{{producto.detalle_producto}}', '{{producto.cantProdDisponible}}')"
                      data-nombreProducto="{{producto.nombreProducto}}"
                      data-imagen_1="{{producto.ruta_img_1}}"
                      data-precio="{{producto.precioProd}}"
                      >
                    <i class="fa-solid fa-cart-plus"></i> 
                      Agregar Carrito
                    </button>
                  </div>
                </div>
              {% endfor %}
          </div>
          <div class="modal-footer" style="background: #f32be2;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--Fin Listar los productos desde el panel de clientes.-->
    <!---->
    <!--Modal listar Productos seleccionados por el clientes desde el Panel de Cliente.-->
    <div class="modal fade" id="modal_listar_productos_seleccionaods_cliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Mis Productos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="table-responsive">
                <table
                  class="table table-bordered table-primary table-responsive-sm hover tabla_carrito" id="tabla_producto_seleccionado_cliente"
                  >
                    <thead>
                      <tr class="table-primary">
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                        <th>Cant. Producto</th>
                        <th>Total a Pagar</th>
                        <th>Acción</th>
                      </tr>
                    </thead>
                    <tbody class="tbdoy_product_client">
                      <!--Crear tr y td con los datos nuevos-->
                      <!--Fin Crear tr y td con los datos nuevos-->
                    </tbody>
                  </table>
                  <!--Fin Tabla con Productos.-->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="number" id="mostrarValorCliente" readonly name="mostrarValorCliente" style="border-radius: 5px;border-color: chocolate;" class="text-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="pagar_cliente(this)">Seleccionar Pago</button>
            <div class="container-sm" id="div_pago_cliente" style="display: none;">
              <button type="button" value="0" class="btn btn-outline-success ml-2" id="debito_cliente" onclick="debito_panel_cliente(this)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-2-back" viewBox="0 0 16 16">
                <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5z"/>
                <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm13 2v5H1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1m-1 9H2a1 1 0 0 1-1-1v-1h14v1a1 1 0 0 1-1 1"/>
              </svg> Débito</button>
              <button type="button" class="btn btn-outline-success" value="1" id="credit_card_cliente" onclick="credito_panel_cliente(this)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-2-front" viewBox="0 0 16 16">
                <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z"/>
                <path d="M2 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5"/>
              </svg> Crédito</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Fin Modal listar Productos seleccionados por el clientes desde el Panel de Cliente.-->
    <!--Modal Formulario de compras DEBITO panel CLIENTES.-->
    <!-- Modal -->
    <div class="modal fade" id="modal_form_productos_panel_cliente" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Boleta</h1>
          </div>
          <div class="modal-body">
            <div class="container-sm">
              <form action="" id="form_pago_debito_cliente_panel" method="">
                {%csrf_token%}
                <div class="input-group mb-3">
                  <input type="hidden" class="form-control" id="tipo_pago_panel_cliente" name="tipo_pago_panel_cliente">
                  <span class="input-group-text" for="nombre_panel_cliente">Nombre: </span>
                  <input type="text" class="form-control" id="nombre_panel_cliente" name="nombre_panel_cliente" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-color: rgb(196, 69, 235)">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" for="ap_paterno_panel_cliente">Ap. Paterno: </span>
                  <input type="text" class="form-control" id="ap_paterno_panel_cliente" name="ap_paterno_panel_cliente" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-color: rgb(196, 69, 235)">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" for="ap_materno_panel_cliente">Ap. Materno: </span>
                  <input type="text" class="form-control" id="ap_materno_panel_cliente" name="ap_materno_panel_cliente" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-color: rgb(196, 69, 235)">
                </div>
                <div class="input-group mb-3">
                  <select class="form-control" name="cliente_panel_region" style="border-color: rgb(196, 69, 235)" id="cliente_panel_region" onchange="buscar_ciudad()">
                    <option data-id="0" data-region = "null" value="0" selected="selected">Regiones</option>
                    <option id="region_15" data-region ="Arica y Parinacota" value="15">Arica y Parinacota</option>
                    <option id="region_1" data-region ="Tarapacá" value="1">Tarapacá</option>
                    <option id="region_2" data-region ="Antofagasta" value="2">Antofagasta</option>
                    <option id="region_3" data-region ="Atacama" value="3">Atacama</option>
                    <option id="region_4" data-region ="Coquimbo" value="4">Coquimbo</option>
                    <option id="region_5" data-region ="Valparaiso" value="5">Valparaiso</option>
                    <option id="region_13" data-region ="Metropolitana" value="13">Metropolitana</option>
                    <option id="region_6" data-region ="O'Higgins" value="6">O'Higgins</option>
                    <option id="region_7" data-region ="Maule" value="7">Maule</option>
                    <option id="region_16" data-region ="Ñuble" value="16">Ñuble</option>
                    <option id="region_8" data-region ="Bio - Bio" value="8">Bio - Bio</option>
                    <option id="region_9" data-region ="Araucania" value="9">Araucania</option>
                    <option id="region_14" data-region ="Los Rios" value="14">Los Rios</option>
                    <option id="region_10" data-region ="Los Lagos" value="10">Los Lagos</option>
                    <option id="region_11" data-region ="Aisen" value="11">Aisen</option>
                    <option id="region_12" data-region ="Magallanes Y Antártica" value="12">Magallanes Y Antartica</option>
                  </select>
                </div>
                <div class="input-group mb-3">
                  <select class="form-control" style="border-color: rgb(196, 69, 235)" name="cliente_panel_comuna" id="cliente_panel_comuna">
                    <option value="0">Comunas por Region</option>
                  </select>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" for="direccion_panel_cliente">Dirección: </span>
                  <input type="text" class="form-control" id="direccion_panel_cliente" name="direccion_panel_cliente" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"style="border-color: rgb(196, 69, 235)">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" for="panel_cliente_telefono">Teléfono: </span>
                  <input type="text" class="form-control" id="panel_cliente_telefono" name="panel_cliente_telefono" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"style="border-color: rgb(196, 69, 235)">
                </div>
                <label for="">Lugar de Entrega: </label>
                <div class="btn-group mb-1" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check" name="panel_cliente_tipo_propiedad" id="panel_cliente_casa_cliente" value="Casa" autocomplete="off">
                  <label class="btn btn-outline-primary" for="panel_cliente_casa_cliente">Casa</label>
                
                  <input type="radio" class="btn-check" name="panel_cliente_tipo_propiedad" id="panel_cliente_departamento_cliente" value="Departamento" autocomplete="off">
                  <label class="btn btn-outline-primary" for="panel_cliente_departamento_cliente">Departamento</label>
                
                  <input type="radio" class="btn-check" name="panel_cliente_tipo_propiedad" id="panel_cliente_condominio_cliente" value="Condominio" autocomplete="off">
                  <label class="btn btn-outline-primary" for="panel_cliente_condominio_cliente">Condominio</label>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" for="email_panel_cliente">E-Mail: </span>
                  <input type="text" class="form-control" id="email_panel_cliente" name="email_panel_cliente" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-color: rgb(196, 69, 235)">
                </div>
                <div class="alert alert-success" role="alert">
                  ¡Si tienes un código de descuento, puedes utilizarlo ahora!
                  <form action="" id="form_cod_panel_cliente">
                    <input type="text" class="form-control" value="0" id="cod_descuento_panel_cliente" name="cod_descuento_panel_cliente" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-color: green">
                    <button type="button" class="btn mt-2" onclick="enviar_cod_panel_cliente(this)" id="btn_codigo_panel_cliente" name="btn_codigo_panel_cliente" style="background: #84a0eb;"><i class="fa-solid fa-code fa-spin-pulse"></i> Enviar Código</button>
                  </form>
                </div>
                <div class="alert alert-primary text-center" id="div_pagar_cliente" role="alert"></div>
                <div id="credit" style="display: none;">
                  <div class="row mt-2">
                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" style="border-color: #0a0a0a;" name="cuota" id="cuota_3" value="3">
                        <label class="form-check-label" for="cuota_3">
                          <span class="badge text-bg-warning">3 Cuotas Precio Contado</span>
                        </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" style="border-color: #0a0a0a;" name="cuota" id="cuota_6" value="6">
                        <label class="form-check-label" for="cuota_6">
                          <span class="badge text-bg-warning">6 Cuotas</span>
                        </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" style="border-color: #0a0a0a;" name="cuota" id="cuota_9" value="9">
                          <label class="form-check-label pl-2" for="cuota_9">
                            <span class="badge text-bg-warning">9 Cuotas</span>
                          </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="alert alert-danger text-center" role="alert">
                  La Boleta de compra, se enviará por correo.
                </div>
             </div>
              <!--Fin etiquetas P.-->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="cancelar_pago_debito(this)" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="pagar_panle_cliente" onclick="pagar_descuento_panel_cliente(this)">Realizar Pago</button>
          </div>
        </div>
      </form>
      </div>
    </div>
    <!--Fin Modal Formulario de compras DEBITO panel CLIENTES.-->
    <!-- Obtenemos todas las con Débito para el pnaler cliente usuario.-->
    <!-- Modal -->
      <div class="modal fade" id="mostra_panel_cliente_debito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Compras Débito</h1>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="table-responsive">
                  <table id="table_compra_cliente_panel_solo_debito" class="display nowrap" style="width:100%">
                      
                      
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <!--Fin obtenemos todas las con Débito para el pnaler cliente usuario.-->
    <!-- Obtenemos todas las con Débito para el pnaler cliente usuario.-->
    <!-- Modal -->
    <div class="modal fade" id="mostra_panel_cliente_credito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Compras Crédito</h1>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="table-responsive">
                <table id="table_compra_cliente_panel_solo_credito" class="display nowrap" style="width:100%">
                    
                    
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--Fin obtenemos todas las con Débito para el pnaler cliente usuario.-->
    <!--FOOTER-->
    <footer class="footer" id="footer" style="background-color: rgb(211, 203, 203);">
      <div class="container-xl text-center ml-5">
        <div class="row">
          <div class="col-xs-12 col-sm-3 mt-3">
            <div class="row">
              <img src="{% static 'imgSistema/Pastelazo.jpg' %}" class="card-img-top footer_img" alt="" style="height: 150px; object-fit: cover; width: 100%;">
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 mt-3">
            <h3>Redes Sociales</h3>
            <div class="row">
              <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
            </div>
            <div class="row">
              <a href="#"><i class="fa-brands fa-square-instagram"></i> Instagram</a>
            </div>
            <div class="row">
              <a href="#"><i class="fa-brands fa-square-x-twitter"></i> Twitter</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 mt-3">
            <h3>Mi cuenta</h3>
            <div class="row">
              <a href="#">Pedir</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 mt-3">
            <h3>Conócenos</h3>
            <div class="row">
              <a href="#">Nuestros locales</a>
            </div>
            <div class="row">
              <a href="#">Trabaja con nosotros</a>
            </div>
            <div class="row">
              <a href="#">Información legal</a>
            </div>
            <div class="row">
              <a href="#">Termino y Condiciones de Uso</a>
            </div>
            <div class="row">
              <a href="#">Política de Privacidad</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--FINFOOTER-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.6/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.min.js"></script>
    <!--Agregamos este CDN para modificar el formato de la fecha, de ; yyyy-mm-dd a dd-mm-yyyy.-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="{% static 'js/js_clientes/cliente.js' %}"></script>
  </body>
</html>
