<!---Esto es lo 1rtro que se debe declara; -->
{% extends 'base/base.html' %}
<!--Debemos agegar este comando en jinja, para que nos carge los estilos.-->
{% load static %}
{% block content %}
  <div class="container mt-5 mb-5">
    <div class="imagen">
        <img src="{% static 'img/Pastelero_1.jpg' %}">
    </div>
    <div class="texto">
        <h1 class="mb-5 text-decoration-underline">¿Quienes Somos?</h1>
        <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sequi odio deleniti quaerat doloribus voluptatibus id velit accusantium voluptate aspernatur mollitia fugiat, nihil dolor voluptatum repellat rerum esse blanditiis ut!</p>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <div class="texto">
      <h1 class="mb-5 text-decoration-underline">Amor al Trabajo</h1>
      <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sequi odio deleniti quaerat doloribus voluptatibus id velit accusantium voluptate aspernatur mollitia fugiat, nihil dolor voluptatum repellat rerum esse blanditiis ut!</p>
  </div>
    <div class="imagen">
        <img src="{% static 'img/Pastelero_2.jpg' %}">
    </div>
  </div>
  <div class="container-xl mb-2">
    <h2 class="text-center lobster-regular text-decoration-underline">Tradición y Cariño</h2>
    <div class="resena">
      <p class="text-center montserrat-300">"somos lo último en tendencia calidad y sabor 
        nuestros diseños únicos y exclusivo echos a mano y acordé a tus necesidades. Además vale indicar 
        que trabajamos con carta abierta para elección de sabores según gusto de tu paladar"</p>
    </div>
  </div>
  <div class="container-md" style="border-color: rgb(98, 18, 245); border-style: groove;">
    <img src="{% static 'img/Pastelero_3.jpg' %}" class="img-fluid" alt="..." width="100%" height="300px">
  </div>
{% endblock %}